body {
    background-image: url("38e0f46a587b40829b2bee96adc2bbdc.gif");
    background-repeat: no-repeat;
    background-size: 100% 200%;
    }

    
body { color: rgb(250, 250, 250);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 30px;
}

