body {
    background-image: url("164156452-clean-wallpapers.jpg");
    }
    h1 {
      
        color: rgb(251, 0, 0);
        font-size: 60px;
        text-align: center;
        position: relative;
    }

p
{
    color: cornsilk;
    font-size: 30px;
    text-align: center;
}
section
{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    }
    #NavBar{
        list-style-type: none;
        color: cornsilk;
        text-align: center;}
#Scrolling
{
    width: 100%;
    height: 50px;
    margin: 10;
    padding: 0;
    position: absolute;
    top: 10;
    letter-spacing: 0;
    display: flex;
    justify-content: space-around;
}